$rouge = #ee3324;
$orange = #faa41a;
$jaune = #fced52;

@import url('https://fonts.googleapis.com/css?family=Lato:100|Roboto&effect=neon');

body {
	background: #F5F5F5;
	padding-top: 70px;
}
.img-header-mini{
	height: 50px;
	margin-top: -15px;
}
.panel{
	width: 50%;
	margin: auto;
}
h1 {
	color: #ce1212;
	font-family: 'Lato';
	font-size: 90px;
	display: inline-block;
	/*margin-top:2%;*/
	margin-bottom: 5%;
}
#welcome{
	width: 100%;
	text-align: center;
}
function test-($color){
	height: 250px;
	background-color: $color;
}
#test-rouge{
	height: 250px;
	background-color: $rouge;
}
#test-orange{
	height: 250px;
	background-color: $orange;
}
#test-jaune{
	height: 250px;
	background-color: $jaune;
}
