{% extends 'maquette.html.twig' %}

{% block header %}
	<!-- bootstrap header -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
      			<a class="navbar-brand" href="#">
        			<img class="img-header-mini" alt="Brand" src="../img/logobda.jpg">
				</a>
				<a class="navbar-brand" href="#">
					Bureau des Arts - ISEN Brest
				</a>
    		</div>
			<!--<div id="welcome">
				<h1>Maquette en cours.</h1>
			</div>-->
			<ul class="nav nav-pills navbar-right">
				<li role="presentation" class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a></li>
				<li role="presentation"><a href="#"><i class="fa fa-camera" aria-hidden="true"></i> Mes soirées</a></li>
				<li role="presentation"><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i> Paramètres du compte</a></li>
				<li role="presentation"><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a></li>
			</ul>
			<p class="navbar-text navbar-right">Bienvenue Anonyme1234 ! &nbsp; </p>
		</div>
	</nav>
{% endblock %}

{% block footer %}
	<!-- bootstrap footer -->
{% endblock %}

{% block body %}
	<div id="wrapper">
		<div id="container-fluid">
<!-- NAV lateral -->
			<div class="col-md-2">
				<ul class="list-group">
				  <li class="list-group-item">Album n°1</li>
				  <li class="list-group-item">Album n°2</li>
				  <li class="list-group-item">Album n°3</li>
				  <li class="list-group-item">Album n°4</li>
				  <li class="list-group-item">Album n°5</li>
				</ul>
			</div>
			<div class="col-md-10">
				<div class="alert alert-info alert-dismissible fade-in" role="alert">
	  				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  				Les photos de la soirée d'halloween sont disponibles, allez y jeter un oeil !
				</div>
				<div class="panel panel-primary info-soiree" id="info-soiree">
					<div class="panel-heading">
						Soirée Halloween !
						<button type="button" class="close" data-target="#info-soiree" data-dismiss="alert"> <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
					</div>
		  			<div class="panel-body">
		    			Les photos de la soirée d'halloween viennent d'arrivée !
		  			</div>
	  			</div>
				<div id="welcome">
					<h1>Maquette en cours.</h1>
				</div>
				<div class="row">
					<div class="album col-md-12">
						<div class="row">
							<h2>Titre de l'album</h2>
							<p>Description de l'album</p>
							<hr>
						</div>
						<div class="row">
							<div class="col-md-6 left">
								<div class="img-album-accueil">
									<i class="fa fa-camera fa-6" aria-hidden="true"></i>
								</div>
							</div>
							<div class="col-md-6 right">
								<div class="img-album-accueil">
									<i class="fa fa-camera fa-6" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 left">
								<div class="img-album-accueil">
									<i class="fa fa-camera fa-6" aria-hidden="true"></i>
								</div>
							</div>
							<div class="col-md-6 right">
								<div class="img-album-accueil">
									<i class="fa fa-camera fa-6" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 left">
								<div class="img-album-accueil">
									<i class="fa fa-camera fa-6" aria-hidden="true"></i>
								</div>
							</div>
							<div class="col-md-6 right">
								<div class="img-album-accueil">
									<i class="fa fa-camera fa-6" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div id="test-rouge"></div>
					<div id="test-orange"></div>
					<div id="test-jaune"></div>
				</div>
			</div>
			<!--<p> http://tympanus.net/codrops/2014/03/21/google-grid-gallery/ </p>
			<p> http://tympanus.net/codrops/2014/03/21/google-grid-gallery/ </p>
		-->
		</div>
	</div>
{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="../css/style.css">

{% endblock %}

{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/99a21ba8e7.js"></script>

{% endblock %}
